:host {
    height: 500px;
    overflow-y: scroll;
    display: block;
    margin-top: 20px;


    .people {

        &-search {
     

            &--container {
                display: flex;
                position: fixed;
            }

            &--count {
                margin-right: 20px;
            }

            &--field {
                width: 300px;
                margin-right: 10px;
            }
        }

        &--container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;

            .person {
                width: 400px;
                border: 1px solid lightgray;
                margin: 10px;
                border-radius: 5px;
                padding: 5px;
                box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);

                &:hover {
                    background-color: lightyellow;
                    cursor: pointer;
                }

                .header {
                    border-bottom: 1px lightgrey solid;
                    margin-bottom: 10px;
                }
            }
        }
    }
}